h1 {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h2.center {
  text-align: center;
}

div.flex {
  display: flex;
}

div.flex-column {
  display: flex;
  flex-direction: column;
}

.item-header {
  grid-area: header;
  background-color: azure;
}
.item-footer {
  grid-area: footer;
  background-color: rgb(180, 87, 87);
}

.item-main1 {
  grid-area: admin;
  background-color: azure;
  border-style: groove;
  padding: 1rem;
}
.item-main2 {
  grid-area: vendor;
  background-color: azure;
  border-style: groove;
  padding: 1rem;
}
.item-main3 {
  grid-area: verifier;
  background-color: azure;
  border-style: groove;
  padding: 1rem;
}

.item-side1 {
  grid-area: output1;
  background-color: rgb(228, 231, 176);
}
.item-side2 {
  grid-area: output2;
  background-color: rgb(223, 224, 211);
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: auto;
  grid-template-areas:
    'header header header header'
    'admin admin output1 output1'
    'admin admin output1 output1'
    'vendor vendor output1 output1'
    'vendor vendor output2 output2'
    'verifier verifier output2 output2'
    'verifier verifier output2 output2'
    'footer footer footer footer';
}

.section-header h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
