html,
body {
  background: black;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h2 {
  color: #ffffff;
}

h2.display {
  text-align: center;
  color: #cccccc
}

div.flex {
  display: flex;
  width: 100vw;
}

div.flex-column {
  display: flex;
  flex-direction: column;
}

.item-header {
  background-color: black;
  position: sticky;
  top: 0;
}

.item-header h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(
    140deg,
    rgba(54, 190, 255, 1) 0%,
    rgba(115, 63, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0 auto;
}

.header_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_container h1 {
  font-size: 64px;
}

.header_container h1 span {
  background: linear-gradient(
    140deg,
    rgba(54, 190, 255, 1) 0%,
    rgba(115, 63, 241, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.header_container p {
  font-size: 20px;
}

.item-main1 {
  background-color: black;
  border-style: groove;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.item-main2 {
  background-color: black;
  border-style: groove;
  padding: 1rem;
  margin: 1rem 0;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 90px;
}

.right {
  width: 55vw;
  overflow: auto;
  position: fixed;
  top: 120px;
  right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  color: #ffffff;
}
